.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.input, .textarea {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid #02ddff;
  border-radius: 5px;
  background: transparent;
  color: white;
  font-weight: 500;
}

.input::placeholder, .textarea::placeholder {
  color: #ffffffb3;
}

.button {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid #02ddff;
  border-radius: 5px;
  background-color: #02ddff;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.button:hover {
  background-color: #02ddff8f;
  color: rgb(255, 255, 255);
}

.button:active {
  transform: scale(0.98);
}

.msgContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #01b747;
  border-radius: 20px;
}
