.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  z-index: 200;
}

.logopng {
  width: 50px;
  height: 50px;
}

.hamburger {
  display: none;
  cursor: pointer;
  z-index: 100;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
}

.line {
  width: 2rem;
  height: 0.25rem;
  background: #fff;
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}

.hamburger.active .line:nth-child(1) {
  transform: rotate(45deg);
  background: #fff;
}

.hamburger.active .line:nth-child(2) {
  opacity: 0;
  background: #fff;
}

.hamburger.active .line:nth-child(3) {
  transform: rotate(-45deg);
  background: #fff;
}

.navbarMobileItems {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #3b3b3be9;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  backdrop-filter: blur(5px);
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: flex;
  }
}
